<!DOCTYPE html>
<html lang="en">  
<!-- removed the headerthing  -->
<ion-content [fullscreen]="true">
  <html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Viewport" content="width=device-width, initial-scale=1.0">
    <title>TLOV Conflux Convergence</title>
    <link href="gameinstanceStyle.css" rel = "stylesheet">
    
</head>
<body class="behindpage">
  
  <section >
      <div>
        <canvas id="canvasOne" class="canvasback"> <!-- map in boxed area-->
         <!--  <capacitor-google-map #map ></capacitor-google-map>--><!--  unfortunately, could not get the capacitor googlemap to work-->

          </canvas>
          <div class="imagepage">
            <img src= "https://d-maps.com/m/europa/irland/galway/galway53.gif" style="display: block; width: 100%; height: 100%; object-fit: cover;"  >
          </div> <!-- using image of a map as replacement-->
          <div class="imagepage2">
            <img id="pinpointl()" src="https://media.istockphoto.com/id/1164709269/vector/location-pin-icon-on-transparent-map-marker-sign-flat-style-map-point-symbol-map-pointer.jpg?s=612x612&w=0&k=20&c=nv2SO6T1OowdTmfJzpp1tK04Ijw748a1N2UeEacvV54=" style="display: block; width: 40px; height: 40px; object-fit: cover;">
          </div>
          <div id="creature1()" class="imagepage3">
            <ul>
              <p class="ctext">{{position1}}</p>
            </ul>
            <ul>
              <img src="https://media.istockphoto.com/id/1272693590/vector/red-pinpoint-symbol.jpg?s=612x612&w=0&k=20&c=xE3xh5Xd4vmMj5v4t_LMs6K4l7bDZhmjhMYoniR8sKM=" style="display: block; width: 35px; height: 35px; object-fit: cover;" >
              
            </ul>
          </div>
          <div id="creature2" class="imagepage4">
            <ul>
              <p class="ctext">{{position2}}</p>
            </ul>
            <ul>
              <img src="https://media.istockphoto.com/id/1272693590/vector/red-pinpoint-symbol.jpg?s=612x612&w=0&k=20&c=xE3xh5Xd4vmMj5v4t_LMs6K4l7bDZhmjhMYoniR8sKM=" style="display: block; width: 35px; height: 35px; object-fit: cover;" >

            </ul>
          </div>
          <div id="creature3" class="imagepage5">
            <ul>
              <p class="ctext">{{position3}}</p>
            </ul>
            <ul>
              <img src="https://media.istockphoto.com/id/1272693590/vector/red-pinpoint-symbol.jpg?s=612x612&w=0&k=20&c=xE3xh5Xd4vmMj5v4t_LMs6K4l7bDZhmjhMYoniR8sKM=" style="display: block; width: 35px; height: 35px; object-fit: cover;" >

            </ul>
          </div>
          <div id="creature4" class="imagepage6">
            <ul>
              <p class="ctext">{{position4}}</p>
            </ul>
            <ul>
              <img src="https://media.istockphoto.com/id/1272693590/vector/red-pinpoint-symbol.jpg?s=612x612&w=0&k=20&c=xE3xh5Xd4vmMj5v4t_LMs6K4l7bDZhmjhMYoniR8sKM=" style="display: block; width: 35px; height: 35px; object-fit: cover;" >

            </ul>
          </div>
          <div id="creature5" class="imagepage7">
            <ul>
              <p class="ctext">{{position5}}</p>
            </ul>
            <ul>
              <img src="https://media.istockphoto.com/id/1272693590/vector/red-pinpoint-symbol.jpg?s=612x612&w=0&k=20&c=xE3xh5Xd4vmMj5v4t_LMs6K4l7bDZhmjhMYoniR8sKM=" style="display: block; width: 35px; height: 35px; object-fit: cover;" >

            </ul>
          </div>
      </div>
      <ul class="gamepage">
        <a >
          <h1 (click)="captureclicked()" class="capturebutton">Capture</h1>
        </a><!-- goes right to personal server -->
      </ul>
      <ul class="gamepage2">
        <a href="https://kyle.webteic.net/">
          <h1 class="battlebutton">battle</h1>
        </a><!-- goes right to personal server -->
      </ul>
      <ul class="menupage">
        <a id="menuclicked">
          <h1 class="menubutton" [routerLink]="['/menu']" >Menu</h1>
        </a><!-- opens menu -->
      </ul>
      <ul class="collectpage">
        <a>
          <h1 class="collection" >Collected: {{collectedc}}</h1>
          
        </a>
      </ul>
      <ul class="timepage">
        <a>
          <h1 class="timern" >Spawn: {{counter}}</h1>
          
        </a>
      </ul>
      <ul class="centrestage">
        <ion-card>
          <img alt="Silhouette of mountains" src="https://i.ebayimg.com/images/g/72wAAOSwGRtjolqA/s-l1200.jpg" />
          <ion-card-content><!-- 1-->
            You Captured a Monster! 
          </ion-card-content>
        </ion-card>
      </ul>
      <ul class="centrestage">
        <ion-card>
          <img alt="Silhouette of mountains" src="https://t3.ftcdn.net/jpg/03/78/47/32/360_F_378473200_elhpEfmQelGr4v1X5hb4DJFMw1x9K8dp.jpg" />
          <ion-card-content><!-- 2 -->
            You Captured a Monster! 
          </ion-card-content>
        </ion-card>
      </ul>
      <ul class="centrestage">
        <ion-card>
          <img alt="Silhouette of mountains" src="https://media.istockphoto.com/id/1408412278/photo/living-mouse-inside-a-trap.jpg?s=612x612&w=0&k=20&c=92cx7MCQSvJoIEPmPgj-hm98qv-bcMcUPuT3ffavYvk=" />
          <ion-card-content><!-- 3 -->
            You Captured a Monster! 
          </ion-card-content>
        </ion-card>
      </ul>
      <ul class="centrestage">
        <ion-card>
          <img alt="Silhouette of mountains" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/02/White_Rhino_at_Working_with_Wildlife.jpg/960px-White_Rhino_at_Working_with_Wildlife.jpg" />
          <ion-card-content><!-- 4 -->
            You Captured a Monster! 
          </ion-card-content>
        </ion-card>
      </ul>
      <ul class="centrestage">
        <ion-card >
          <img alt="Silhouette of mountains" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlQ-nvpHg83maPOnUKy8-D1NK_qkXLxykniA&s" />
          <ion-card-content><!-- 5 -->
            You Captured a Monster! 
          </ion-card-content>
        </ion-card>
      </ul>
  </section>  
    <script src="gameinstanceBackend.js"></script>   
</body>
</html>
</ion-content>
