<!DOCTYPE html>
<html lang="en">  

<ion-content [fullscreen]="true">
  <html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Viewport" content="width=device-width, initial-scale=1.0">
    <title>TLOV Conflux Convergence</title>
    <link href="gameinstanceStyle.css" rel = "stylesheet">
</head>
<body class="behindpage">
    
    <canvas id="canvasOne" class="canvasback">
    <!-- <capacitor-google-map id="map"></capacitor-google-map> -->
     
    </canvas>
    <div>
      <a href="https://kyle.webteic.net/"><h1>Battle</h1></a>
     </div>
    <script src="gameinstanceBackend.js"></script>   
</body>
</html>
</ion-content>
