<!DOCTYPE html>
<html lang="en">  
<!-- removed the headerthing  -->
<ion-content [fullscreen]="true">
  <html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Viewport" content="width=device-width, initial-scale=1.0">
    <title>TLOV Conflux Convergence</title>
    <link href="gameinstanceStyle.css" rel = "stylesheet">
    
</head>
<body class="behindpage">
  
  <section >
      <div>
        <canvas id="canvasOne" class="canvasback"> <!-- map in boxed area-->
         <!--  <capacitor-google-map #map ></capacitor-google-map>--><!--  unfortunately, could not get the capacitor googlemap to work-->

          </canvas>
          <div class="imagepage">
            <img src= "https://d-maps.com/m/europa/irland/galway/galway53.gif" style="display: block; width: 100%; height: 100%; object-fit: cover;"  >
          </div> <!-- using image of a map as replacement-->
      </div>
      <ul class="gamepage">
        <a href="https://kyle.webteic.net/">
          <h1 class="battlebutton">Capture</h1>
        </a><!-- goes right to personal server -->
      </ul>
      <ul class="menupage">
        <a id="menuclicked">
          <h1 class="menubutton" [routerLink]="['/menu']" >Menu</h1>
        </a><!-- opens menu -->
      </ul>
      
  </section>  
    <script src="gameinstanceBackend.js"></script>   
</body>
</html>
</ion-content>
